{% extends "::base.standard.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <table class="table table-responsive table-condensed table-hover">
                <tr>
                    <th>Toon</th>
                    <th>System</th>
                    <th>Planet</th>
                    <th>Type</th>
                    {#<th>Install Time</th>#}
                    {#<th>Expiry Time</th>#}
                    {#<th>Cycle Time</th>#}
                    {#<th>Qty / cycle</th>#}
                    <th>Time to end</th>
                    <th>Actions</th>
                </tr>
                {% for toonrow in colony_view %}
                    {% for colonyrow in toonrow.colonies %}
                        <tr>
                            <td>{{ toonrow.toon.characterName }}</td>
                            <td>{{ colonyrow.colony.systemUniqueName.itemName }}</td>
                            <td>{{ colonyrow.colony.invUniqueName.itemName }}</td>
                            <td>{{ colonyrow.colony.planetType }}</td>
                            <td>
                                {% for ep in colonyrow.extractor_pins %}
                                    {% if ep.diff_days > 2 %}
                                        {{ ep.diff_days }} days
                                    {% else %}
                                        {{ ep.diff_hours }} hours
                                    {% endif %}
                                    {% if ep.time_till_end < 0 %}
                                        ago
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for ep in colonyrow.extractor_pins %}
                                    <a href="#" onclick="return false;"><span
                                                class="glyphicon glyphicon-signal extraction-chart text-{{ ep.unix_diff <= 0 ? "danger" : ep.unix_diff <= 3600*12 ? "warning" : ep.unix_diff > 3600*24 ? "success" : "muted" }}"
                                                aria-hidden="true"
                                                data-id="{{ ep.pin_id }}"
                                                data-toon="{{ toonrow.toon.characterName }}"
                                        ></span></a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
        <div class="col-md-4" style="position:fixed; right:0px;">
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>

    <script src="{{ asset('planet.extractor.chart.js') }}"></script>

{% endblock body %}